
#shop-logo{
    display: block;
    margin: 12px auto 12px auto;
    width: 275px;
     height:275px;
}

.MDBNavItem {
    color:black;
}

.product-img {
    width:200px;
    height:370px;
    object-fit: cover;
    margin-bottom:3px;
}

.product-card {
    margin-bottom:12px;
}

.product-body{
    padding:10px;
}

p, .product-desc {
    height:5%;
    font-family: 'EB Garamond', serif;
    font-size: 18px;

    
}

.nav {
    margin-top:18px;
    background-color: rgb(255, 255, 255);
   
}

.navbar-nav{
    flex-direction: row;
}

.nav-item{
    font-family: 'EB Garamond', serif;
    font-size:32px;
}


@media screen and (max-width:426px) {
    #shop-logo{
         margin-left: auto; 
    margin-right:auto;   
        height:200px;
        width:200px;
    }
}

@media screen and (max-width:769px) {
    .nav-item{
        font-size: 22px;
    }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
