
#shop-logo{
    display: block;
    margin: 12px auto 12px auto;
    width: 288px;
    height:288px;
}



.product-card {
    margin-bottom:12px;
    height:auto;
}


.product-body{
    padding:10px;
}

.sampleCard {
     border:1px solid gray;
    /* background-color: yellow; */
    width:313px;
    height:476px;
    margin: 12px auto 12px auto;
    position:relative;
}

.sampleInfo {
    padding:12px;
    background-color: whitesmoke;
    height:210px;
    width:310px;
    position: absolute;
    bottom:10px;
}
.product-image {
    position:absolute;
    width:310px;
    height:240px;
    background-color:gray;
}

.product-img {
    width:100%;
    height:100%;
    object-fit: cover;
    margin-bottom:3px;
}

.product-price {
    /* position: absolute; */
    bottom:5px;
    margin-left: 10px;
    font-family: 'EB Garamond', serif;
    font-size:18px;
    font-weight: bolder;
    letter-spacing: 2px;
}

.product-cart-btn {
    position:absolute;
    right:20px;
    bottom:3px;
}

.product-card-title{
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size:18px;
    font-weight: bold;
    letter-spacing: 2px;
}

.product-desc {
    font-family: 'EB Garamond', serif;
    font-size:18px;
    padding:10px;
    letter-spacing: 1px;
}

Button.product-cart-btn {
    font-family: 'EB Garamond', serif;
    letter-spacing: 2px;
    font-weight:bold;
    color:black;
    background-color: rgb(156, 196, 162);
}

p {
    text-align: center;
    font-family: 'EB Garamond', serif;
    font-size: 22px;  
    letter-spacing: 1px;  
}

.cart-item-name {
    font-family: 'EB Garamond', serif;
    font-size:28px;
    letter-spacing: 1px;
}

Button.cart-update {
    font-family: 'EB Garamond', serif;
    letter-spacing: 2px;
    font-weight:bold;
    color:black;
    background-color: rgb(201, 124, 231);
   
}

Button.cart-remove {
    font-family: 'EB Garamond', serif;
    letter-spacing: 2px;
    font-weight:bold;
    color:black;
    background-color: rgb(240, 117, 117);
}

.product-total {
    font-family: 'EB Garamond', serif;
    letter-spacing: 1px;
    font-size: 24px;
    font-weight: bolder;
}

.checkout-total {
    font-family: 'EB Garamond', serif;
    letter-spacing: 1px;
    text-align: center;
}

.checkout-amt-text{
    font-size:28px;
    font-weight: bolder;
}

Button.confirm-btn{
    background-color:rgb(166, 233, 177);
    font-size: 18px;
    font-weight: bolder;
    padding:10px 15px; 
    color:black;
    letter-spacing: 2px;
}

a.checkout-btn {
    background-color:rgb(124, 223, 141);
    font-size: 18px;
    font-weight: bolder;
    padding:10px 15px;
}

.nav-item, .cart-qty, .cart-price {
    font-family: 'EB Garamond', serif;
    font-size:22px;
}

.page-banner {
    /* border:2px solid black; */
    /* background-color: yellow; */
    margin:15px auto 15px auto;
    padding:55px;
    
    
}
.product-headers {
    font-family: 'EB Garamond', serif;
    font-size:43px;
    color:gray;
    letter-spacing:2px;
    text-align: center;
}

.product-cat {
   font-family: 'EB Garamond', serif;
   letter-spacing: 2px;
   margin-left:8px; 
}

.ship-btn {
    font-family: 'EB Garamond', serif;
   letter-spacing: 2px;
}


.profile-box {
    border: 2px solid gray;
    border-radius: 3rem;
     box-shadow: 3px 10px #888888;
    padding:20px;
}
.profile-title, .navbar-brand {
    text-align: center;
    font-family: 'EB Garamond', serif;
    font-weight: bold;
    font-size:32px;
    letter-spacing: 2px;
    
}

Button.register-btn  {
    width:100%;
    letter-spacing: 2px;
    padding:12px;
    font-size:22px;
    font-family: 'EB Garamond', serif;
    background-color: royalblue;
}

Button.login-btn {
    width:100%;
    padding:12px;
    font-size:22px;
    letter-spacing: 2px;
    font-family: 'EB Garamond', serif;
    background-color: royalblue;
}

Button.profile-update, .profile-cart{
    font-size:16px;
    letter-spacing: 2px;
    font-family: 'EB Garamond', serif;
}

.logout-btn {
    text-align: center;
}

Button.profile-logout {
    font-size:16px;
    letter-spacing: 2px;
    
}

hr.divider {
 border:3px solid gray;
 border-radius: 2rem;
}

.label.form-label-text {
    font-size:16px;
    letter-spacing: 2px;
    font-family: 'EB Garamond', serif;
}

.info-one, .info-two, .info-three{
    margin: 18px auto 18px auto;
    border:1px solid gray;
    width:90%;
    height:38vh;
    /* background-color: rgb(219, 156, 111); */
    position:relative;
}

.info-img-two{
    position:absolute;
    right:0;
    width:45%;
    height:38vh;
    background-color: rgb(124, 223, 141);
}

.info-img-three, .info-img-one{
    position:absolute;
    left:0;
    /* border: 1px solid red; */
    width:45%;
    height:38vh;
    background-color: rgb(124, 223, 141);
}

.img-two, .img-three, .img-one {
    width:100%;
    height:100%;
    object-fit: cover;
    margin-bottom:3px;
}

.info-desc-one, .info-desc-three{
    position:absolute;
    right:0;
    /* border: 1px solid red; */
    width:55%;
    height:40vh;
    padding:12px;
}

.info-desc-two{
    position:absolute;
    left:0;
    width:55%;
    height:35vh;
    
    padding:12px;
}

.info-text {
    text-align: center;
}

.info {
    font-size:1.5em;
}

@media screen and (max-width:769px) {
    .nav-item{
        font-size: 22px;
    }
    .cart-img-review{
        margin-left:20vw;
    }
    .info-one, .info-two, .info-three {
        height:60vh;
    }
    .info-img-one, .info-img-two, .info-img-three {
        position:absolute;
        left:0;
        width:100%;
        height:35vh;
        background-color: rgb(124, 223, 141);
    }
    .info-desc-one, .info-desc-two, .info-desc-three {
        position:absolute;
        bottom:0;
        width:100%;
        height:25vh;
        padding:9px;
    }
    .info{
        font-size:20px;
    }
       
}

@media screen and (max-width:426px) {
    #shop-logo{
         margin-left: auto; 
        margin-right:auto;   
        height:200px;
        width:200px;
    }
    .cart-item-name{
        text-align: center;
    }
    .cart-item-img {
     display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    .checkout-img{
        margin-left:20vw;
    }
    .info-one {
        height:58vh;
    }
    .info-img-one {
        /* position:absolute;
        left:0; */
        width:100%;
        height:28vh;
        background-color: rgb(124, 223, 141);
    }
    .info-desc-one {
        position:absolute;
        bottom:20px;
        width:100%;
        height:28vh;
        padding:12px;
        
    }
    .info {
        font-size:16px;
    }
    
    
}



@media screen and (max-width:321px) {
    .sampleCard{
        width:100%;
    }
    .sampleInfo {
        position: absolute;
        width:90vw;
    }
    .product-image {
        position: absolute;
        width:90vw;
    }
    .product-img {
        position: absolute;
        width:90vw;
    } 
    .cart-item-name {
        font-size: 22px;
    }
    .info-one {
        height: 60vh;
    }
    .info-desc-one {
        height:30vh;
    }

} 






